<h1>New Entry</h1>

<form action="/entries/" method="post">
  <p>
    <label for="title">Entry Name</label>
    <input type="text" name="title" id="title">
  </p>
   <p>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </p>
  <p>
    <label for="occurred_on">Date</label>
    <input type="date" name="occurred_on" id="occurred_on">
  </p>
  <input id="place_id" name="place_id" type="hidden" value="<%= params["place_id"]%>">
    
  <button>Save</button>
</form>