<h1>New Entry</h1>

<form action="/entries" method="post">
  <p>
    <label for="name">Entry Name</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="date">Date</label>
    <input type="date" name="date" id="date">
  </p>
  <p>
    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes">
    </p>
    <button>Submit</button>
</form>