<h1>My Places</h1>
<p> Here are all of the places I have visited recently. Click on each one to see specific entries.</p>
 
 <ul>
   <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
   <% end %>
</ul>

<a href="/places/new">
  <button>
    Add a new Place
  </button>
</a>